@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=New+Amsterdam&display=swap');
@import url('https://unpkg.com/@uiw/reset.css/reset.css');

h1{
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 1rem;
}
header {
    background-color: rgb(157, 53, 93);
}
main{
    background-color: rgb(111, 61, 157);
}
aside{
    background-color: rgb(82, 62, 167);
}
footer{
    background-color: rgb(59, 100, 170);
}

/* diseño responsivo con media queries, movil*/

@media (max-width: 600px) {
    
    #container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        height: 100vh;
        gap: 1rem;
    }
}
    /*body {
        background-color: blueviolet;
    }*/


/* diseño responsivo con media queries, tablet vertical*/
@media (min-width: 600px) {
    /*body {
     background-color: aqua;
    }*/
    
    #container {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        grid-template-rows: auto 1fr auto;
        height: 100vh;
        gap: 1rem;
        grid-template-areas: 
        "cabeza cabeza cabeza"
        "principal principal lado"
        "pie pie pie"
        ;
    }
    header {
        grid-area: cabeza;
    }
    main {
        grid-area: principal;
    }
    aside {
        grid-area: lado;
        /*grid-area: 1/2/3/4;*/
    }
    footer {
        grid-area: pie;
    }
}